// Colors
$color-primary: #ffffff;
$color-secondary: #eeeeee;
$color-muted: #cccccc;
$color-background: #000000;
$color-accent: #f13939;
$color-accent-hover: #cc0000;
$color-accent-active: #990000;
$color-text-dark: #333;

// Animation
$animation-duration: 0.5s;
$transition-speed: 0.3s;
