.homepage-header {
    position: relative;
    z-index: 10;
  }
  
  .homepage-header a {
    pointer-events: auto;
  }
  #about-me-section {
    margin-bottom: 20px;
    padding: 125px;
  }

  #project-section {
    padding: 50px;
  }