@import '../styles/variables';

.homepage-header {
  position: relative;
  z-index: 10;
}

.homepage-header a {
  pointer-events: auto;
}

.tab-content {
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: opacity $animation-duration ease-in-out;

  &.fade-out {
    opacity: 0;
  }

  &.fade-in {
    opacity: 1;
  }
}
