.skills-container{
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2em;
}

.skills-title{
    width: 100%;
    display: grid;
    place-items: center;
    padding: 10px;
	transition: 300ms;
	font-size: 48px;
	// backdrop-filter: blur(2px);
	padding: 10px;

    svg {
        color: red;
    }
    
    &:hover {
        transform: scale(1.1);
    }
}

.line {
    width: 25%;
    min-width: 150px;
    border-bottom: 1px solid red;
}

.skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1024px;
    padding: 10px;
    transition: 200ms ease-in;
}

.skill{
    position: relative;
    font-size: 72px;
    margin: 0.7em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.blocky{
    position: absolute;
    opacity: 0;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
    transition-delay: 50ms;
}

.blocky-connector {
    position: absolute;
    opacity: 0;
    height: 30%;
    font-size: medium;
    top: 116%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-left: 3px solid red;
    z-index: -1;
}

.skill:hover,
.stackHover {
    transform: scale(1.1);
    border: 1px solid red;
    box-shadow: 15px -15px red;
    backdrop-filter: blur(2px);

    .blocky {
        opacity: 1;
    }

    .blocky-connector {
        opacity: 1;
    }
}